{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} My site {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div id="navbar">
    {% block navbar %}

        <nav class="navbar">
            <ul>
                <li><a href="{% url 'home' %}"> Home 🏠 </a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}"> Exit 🚪</a></li>
                     <li><a href="{% url 'profile' user.id %}"> {{ user.username|capfirst }}'s profile 🐳 </a></li>
                    {% else %}
                    <li><a href="{% url 'registration_page' %}"> Registration </a></li>
                    <li><a href="{% url 'login_page' %}"> Log In </a></li>
                {% endif %}
            </ul>

        </nav>
    {% endblock %}
</div>

<div id="sidebar">
    {% block sidebar %}

    {% endblock %}
</div>


<div id="content">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>