/.idea
draft.py
__pycache__/
*.pyc
venv/
hw_15_django_views_and_templates/my_site/django_my_site_env
hw_14_django_into/django_environment
hw_16_django_models/my_project/venv_my_project
hw_16_models_orm/my_project_board/venv_dj
hw_17_django_forms/.idea
hw_17_django_forms/dj_venv_forms
hw_18_drf/.idea
hw_18_drf/venv_drf
