{% extends 'basic.html' %}


{% block content %}
    <ul>
        <li>{{ movie.title }}       </li>
        <li>{{ movie.release_date }}</li>
        <li>{{ movie.country }}     </li>
        <li>{{ movie.genres.get }}  </li>
    </ul>

    <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster">


    <p>
        {% if avg_movie_rate %}

            <p> Movie&apos;s rate {{ avg_movie_rate }} </p>
        {% else %}Movie&apos;s rate: not enough rates to show the movie rating{% endif %}


    <form action="{% url 'movie' movie.id %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" name="comment_submit">Post the comment</button>
    </form>
    
    {% for com in comments %}
        <p>{{ com.user.username }}: {{ com.content }} </p></p>
    {% endfor %}


    <form action="{% url 'movie' movie.id %}" method="POST">
        {% csrf_token %}
        {{ rate_form.as_p }}
        <button type="submit" name="rate_submit"> Submit Rating</button>
    </form>
    
    
    <h2>Recently viewed</h2>
    
    <div class="container">
    {% for movie in recently_viewed %}
        <p>{{ movie.title }}</p>
{#        <img src="{% url 'movie' movie.id %}" alt="">#}
    {% endfor %}
                
    
    </div>


{% endblock %}